@mixin backgroundSize($parallax:inherit) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: $parallax;
}

@mixin flexCenter($direction:row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin primaryButton {
  padding: 1.4rem 2.4rem;
  background-color: $primaryColor;
  box-shadow: 0 0.4rem 0 0 #004bad;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: .2rem;
  font-size: 1.5rem;
  transition: all .3s;
  display: block;
}