$primaryColor: #003cff;
$primaryDark: #404b6b;
$primaryLight: #eff6ff;

$secondaryColor: #267f14;
$secondaryLight: #e9fff7;
$randomColor: #ff0048;

$white: #ffffff;
$black: #000000;

$mainFont: 'Poppins',
sans-serif;

$mobileSize:40em;
$tabletSize:64em;
$desktopSize:80em;